.container {
    background-image: url("/background.jpg");
    padding: 5rem;
    min-height: 100vh;
}

.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
}
