.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.img {    
    border-radius: 5rem;
}

.message {
    background-color: white;
    padding: 1.25rem;
    border-radius: 1rem;
    opacity: 0.8;
}